/*==============================================================
            For backend filters style
/*============================================================= */
\:root
    --color1: #F6C6C4 //светло-розовый
    --color2: #121212 //темный
    --color3: #54644E //темно-оливковый
    --color4: #AA2243 //темно-бордовый
    --color5: #131949 //темно-синий
    --color6: #D9D9D9 //светло-серый
    --color7: #E7D7E0 //розовый
    --color8: #88000C //темно-красный

.prodcard__colors li input
    &.color-31
        background: var(--color1)
    &.color-32
        background: var(--color2)
    &.color-57
        background: var(--color3)
    &.color-58
        background: var(--color4)
    &.color-59
        background: var(--color5)
    &.color-60
        background: var(--color6)
    &.color-61
        background: var(--color7)
    &.color-62
        background: var(--color8)
.product__colorlist li i
    &.color-31
        background: var(--color1)
    &.color-32
        background: var(--color2)
    &.color-57
        background: var(--color3)
    &.color-58
        background: var(--color4)
    &.color-59
        background: var(--color5)
    &.color-60
        background: var(--color6)
    &.color-61
        background: var(--color7)
    &.color-62
        background: var(--color8)

.filter__list--color input
    &.color-1
        background: var(--color7)
    &.color-2
        background: var(--color8)
    &.color-13
        background: var(--color2)
    &.color-14
        background: var(--color1)
    &.color-15
        background: var(--color3)
    &.color-16
        background: var(--color4)
    &.color-17
        background: var(--color5)
    &.color-18
        background: var(--color6)

/* Фасон*/
.filter__list--model li input
    &.model_5
        background-image: url("../img/icons/filters/ico-model--mermaid.svg")
    &.model_6
        background-image: url("../img/icons/filters/ico-model--straight.svg")
    &.model_7
        background-image: url("../img/icons/filters/ico-model--grace.svg")
    &.model_8
        background-image: url("../img/icons/filters/ico-model--ball.svg")
    &.model_9
        background-image: url("../img/icons/filters/ico-model--asiluet.svg")