footer
.footer
	&__top
		display: flex
		align-items: center
		padding-bottom: 30px
		margin-bottom: 28px
		border-bottom: 1px solid var(--border-color-grey)
	&__bottom
		text-align: center
		margin-bottom: 18px
	&__list
		display: flex
	&__item
		display: flex
		margin: 0 30px