.header
	&__inner
		height: 113px
		padding: 0 15px
		display: flex
		align-items: center
	&__logo
		display: block
		flex-grow: 2
	&__nav
		flex-grow: 5
		ul
			display: flex
			list-style: none
	&__city