header
	position: fixed
	top: 0
	left: 0
	right: 0
	background-color: #fff
	z-index: 100000
.header
	&__inner
		height: 112px
		padding: 0 15px
		display: flex
		align-items: center
	&__logo
		display: block
		flex-grow: 2
		flex-shrink: 0
		figure
			width: 240px
			height: 75px
			display: block
			img
				width: 100%
				height: 100%
				object-fit: contain
	&__nav
		flex-grow: 5
		+sm(display, none)
		&-list
			display: flex
			list-style: none
			li
				margin-right: 25px
				a
					font-size: 18px
	&__lang
		flex-shrink: 0


//LANGUAGE SWITCHER
.lang
	&__link
		text-transform: uppercase
html:lang(ua) .lang__link--ua,
html:lang(ru) .lang__link--ru
	font-weight: 700