/* VERTICAL MQ */
@media only screen and (max-height: 1000px) and (orientation: landscape)
	.h-insta
		&__instafeed
			grid-template-columns: repeat(3, 240px)
			grid-auto-rows: 240px
@media only screen and (max-height: 900px) and (orientation: landscape)
	.h-insta
		&__instafeed
			grid-template-columns: repeat(3, 200px)
			grid-auto-rows: 200px
	.h-brands
		margin-bottom: 70px
		padding-top: 40px
		&__slider .glide__slide img
			max-height: 100px
@media only screen and (max-height: 800px) and (orientation: landscape)
	.h-insta
		&__instafeed
			grid-template-columns: repeat(3, 20vh)
			grid-auto-rows: 20vh
@media only screen and (max-height: 700px) and (orientation: landscape)
	.h-brands
		margin-bottom: 0
		&__slider 
			.slick-slide li
				height: 10vh
			.slick-arrow
				background-size: 10px


/* HORIZONTAL MQ */


