.whyus
    background: url('../img/bg-dress.svg') no-repeat 0 30%
    &__inner
        padding-top: 150px
        display: flex
        justify-content: space-between
        font-size: 16px
        color: #646464
    &__lside
        flex-basis: 50%
        p
            margin-bottom: 30px
    &__rside
        flex-basis: 45%
    &__title
        margin-bottom: 50px
        font-size: 72px
        line-height: 0.9
        font-weight: 300
        text-transform: uppercase
        color: #D58481