/*==============================================================
            PAGE 404 START
/*============================================================= */
.not-found
    height: 100vh
    &__inner
        height: 100%
    &__inside
        display: flex
        justify-content: space-between
        align-items: center
    &__lside
        max-width: 570px
    &__rside
        line-height: 57px
        font-size: 60px
    &__title
        color: #000
        font-weight: 300
        line-height: 1
        font-size: 71px
        text-transform: uppercase
    &__subtitle
        font-weight: 300
        line-height: 1
        font-size: 48px
    &__return
        font-weight: 300
        a
            display: inline-block
            line-height: 0.8
            border-bottom: 2px solid #000

